body {
    letter-spacing: 4px;
    background: #b71117;
    color: #fafbf4;
    text-align: center;
    font-family: 'kanit', sans-serif;
    font-size: 72px;
    margin: 300px auto 200px auto;
}
h1 {
    text-shadow: 6px -6px 6px black;
}